# =========================
# Python
# =========================
__pycache__/

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example
